<div class="popup-overlay">
  <div class="popup-content">
    <h2>{{ isInUpdateMode ? 'Modyfikuj produkt' : 'Dodaj produkt' }}</h2>
    <form (submit)="submitForm()">
      <div class="fields">
        <label for="productName">Nazwa produktu:</label>
        <input type="text" id="productName" [value]="productName" (input)="productName = $any($event.target).value" required>

        <label for="productPrice">Cena produktu:</label>
        <input type="number" id="productPrice" [value]="productPrice" (input)="productPrice =$any($event.target).valueAsNumber" required>
      </div>
      <div class="button-container">
        <button type="submit">{{ isInUpdateMode ? 'Zmodyfikuj' : 'Dodaj' }}</button>
        <button type="button" (click)="closeForm()">Anuluj</button>
      </div>
    </form>
  </div>
</div>
